/* Estilo principal del footer */
footer {
    width: 100%;
    background-color: #1d2021;
    padding: 60px 0;
    margin-top: 10rem;
    margin-bottom: -10rem;
    color: #efefef;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    flex-wrap: wrap;
    gap: 40px;
}

footer .footer-box {
    flex: 1;
    min-width: 250px;
}

footer .footer-box h2 {
    font-family: 'NikkyouSans', sans-serif;
    color: white;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

footer .footer-box ul {
    list-style: none;
    padding: 0;
}

footer .footer-box ul a {
    color: #efefef;
    font-size: 1.1rem;
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    transition: color 0.3s;
}

footer .footer-box ul a:hover {
    color: #007bff;
}

footer .footer-box .btns-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

footer .footer-box .btns-footer a {
    background-color: white;
    color: black;
    padding: 12px;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
}

footer .footer-box .btns-footer a:hover {
    background-color: #007bff;
    color: white;
}

footer .footer-box.logo {
    text-align: center;
}

footer .footer-box.logo figure img {
    width: 180px;
    margin-bottom: 20px;
}

footer .footer-box.logo p {
    font-size: 1rem;
    margin-bottom: 20px;
}

footer .footer-box.logo small {
    font-size: 0.875rem;
    color: #b0b0b0;
}

footer .discord-btn,
footer .email-btn {
    display: flex;
    align-items: center;
    gap: 10px;
}

@media (max-width: 800px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    footer .footer-box {
        text-align: center;
        min-width: 100%;
    }
}
