header {
    position: fixed;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    transition: background 0.3s ease-in-out;
    z-index: 20;
}

header.sticky {
    background: #1d2021;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

header.static {
    background: #1d2021;
    position: static;
}

#NavWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav {
    font-family: NikkyouSans;
}

.navbar-nav .nav-link {
    color: white !important;
    font-weight: bold;
}

.dropdown-menu {
    background-color: #282828;
    color: white !important;
}

.dropdown-item {
    color: white
}

.dropdown-item:hover {
    color: #a370f7;
    background-color: #1d2021;
}

@media screen and (max-width: 768px) {
    header {
        position: static;
        background: #1d2021
    }

    header.sticky {
        position: static;
        background: #1d2021
    }

    #NavMenu {
        text-align: center;
    }
    
    #NavWrapper {
        flex-direction: column;
        align-items: center;
        margin: 0 0 0 0;
        width: 100%;
        max-width: 100%;
    }

    #Icons {
        order: 2;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}
