html {
    scrollbar-gutter: auto;
}

body {
    box-sizing: border-box;
}

h1,
h2 {
    font-family: NikkyouSans;
}

.main-content h1 {
    font-family: NikkyouSans;
    text-align: left;
    padding: 40px 0 10px
}



#ad_container {
    color: #f5f5f5;
    width: 900;
    height: 90px;
    background-color: #1d2021;
    margin-top: 20px;
}