django
django-environ
cloudinary
django-cloudinary-storage
numpy
pillow
django-ckeditor
gunicorn
whitenoise
dj-database-url
psycopg2-binary
requests
gradio_client
google-generativeai
exponent_server_sdk
