{% load static %}
<link rel="stylesheet" href="{% static 'css/header.css' %}">

<!-- Navbar -->
<header class="navbar-container">
    <nav class="navbar">
        <div class="container d-flex justify-content-between align-items-center">

            <!-- LOGO -->
            <a class="navbar-brand" href="/">
                <img id="Surchaing-logo" src="{% static 'images/logo/logo_v2.png' %}" alt="Surchaing Manga"
                    draggable="false" height="70" />
            </a>

            <!-- Menú principal en una sola línea -->
            <ul class="navbar-nav d-flex align-items-center">
                <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'library' %}">Catálogo</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'team' %}">Equipo</a></li>
                {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'perfil' %}">Perfil</a></li>
                {% endif %}
                {% if user.is_superuser %}
                <li class="nav-item"><a class="nav-link" href="{% url 'superuser_dashboard' %}"
                        style="color: #ecc94b; font-weight: bold;">PANEL DE CONTROL</a></li>
                {% endif %}
            </ul>

            <!-- Iconos y botones de sesión -->
            <div class="navbar-icons d-flex align-items-center">
                {% if user.is_authenticated %}
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-primary">Logout</button>
                </form>
                <span class="user-greeting">
                    {% if user.profile.avatar %}
                    <img src="{{ user.profile.avatar.url }}" alt="{{ user.username }}"
                        style="width: 30px; height: 30px; border-radius: 50%; vertical-align: middle; margin-right: 5px; object-fit: cover;">
                    {% else %}
                    <i class="bi bi-person-circle"
                        style="font-size: 1.5rem; vertical-align: middle; margin-right: 5px;"></i>
                    {% endif %}
                    @{{ user.username }}
                </span>
                {% else %}
                <a href="{% url 'login' %}" class="btn btn-outline-primary">Login</a>
                {% endif %}
            </div>
        </div>
    </nav>
</header>

{% block extra_js %}
<script src="{% static 'js/header.js' %}"></script>
{% endblock %}