{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static "/css/header.css" %}">
{% endblock%}

<header class="{% block header_class %}{% endblock %}">
    <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
        <!-- Container wrapper -->
        <div id="NavWrapper" class="container">
            <!-- LOGO y botón de hamburguesa -->
            <div class="navbar-header d-flex align-items-center justify-content-between">
                <a class="navbar-brand" href="/">
                    <img id="Surchaing-logo"
                        src="{% static "/images/logo/light_logo.webp" %}" 
                        alt="Surchaing Manga"
                        draggable="false" 
                        height="70" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#NavMenu">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <!-- Collapsible wrapper -->
            <div id="NavMenu" class="collapse navbar-collapse d-flex justify-content-center">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item me-3">
                        <a class="nav-link d-flex align-items-center text-center" href="{% url 'index' %}">Inicio</a>
                    </li>
                    <li class="nav-item me-3">
                        <a class="nav-link d-flex align-items-center text-center" href="{% url 'library' %}">Catálogo</a>
                    </li>
                    <li class="nav-item dropdown me-3">
                        <a class="nav-link d-flex align-items-center text-center dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Acerca de
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'team' %}">Equipo</a></li>
                            <li><a class="dropdown-item" href="{% url 'help' %}">Ayuda</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- Icons -->
            <div id="Icons" class="d-flex">
                <a class="nav-link" href="{% url 'search' %}"><i class="bi bi-search"></i></a>
                <a class="nav-link" href="{% url 'ingresar' %}">
                    <button class="btn btn-outline-primary">INGRESA</button>
                </a>
            </div>
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
</header>

{% block extra_js %}
<script src="{% static "js/header.js" %}"></script>
{% endblock %}
