{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} {% endblock %} | Surchaing Manga</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% include "../components/head.html" %}
        {% block extra_css %}{% endblock %}
    </head>
    <body>
        {% include "../components/loading.html"%}
        <div id="wrapper">
            {% block nav %} 
                {% include "../components/header.html"%}
            {% endblock %}
            {% block  content%}

            {% endblock %}
            {% include "../components/footer.html" %}
        </div>
        {% include "../components/scripts_import.html" %}
        {% block extra_js %}{% endblock %}
    </body>
</html>
