<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} {% endblock %} | Surchaing Manga</title>
        {% include "../components/head.html" %}
        {% block extra_css %}{% endblock %}
    </head>
    <body>
        {% include "../components/loading.html"%}
        <div id="wrapper">
            <header>
                {% include "../components/nav.html"%}
            </header>
            {% block  content%}

            {% endblock %}
        </div>
        {% include "../components/scripts-import.html" %}
    </body>
</html>
