{% extends "layouts/base.html" %}
{% load static %}

{% block title %}Login{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<link rel="stylesheet" href="{% static 'css/about.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/7.2.3/css/flag-icons.min.css">
{% endblock %}

{% block content %}
{% include "components/static_header.html" %}
<div class="login-container">
    <div class="login-row">
        <div class="login-card">
            <div class="login-card-header">
                <h3 class="login-title">Iniciar Sesión</h3>
            </div>
            <div class="login-card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="login-form-group">
                        <label for="username">Usuario</label>
                        <input type="text" class="login-form-control" id="username" name="username" required>
                    </div>
                    <div class="login-form-group">
                        <label for="password">Contraseña</label>
                        <input type="password" class="login-form-control" id="password" name="password" required>
                    </div>
                    <button type="submit" class="login-btn">Ingresar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}