{% extends "./layouts/base.html" %}
{% load static %}
{% block title %}Inicio{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href='{% static 'css/home.css' %}'>
    <link rel="stylesheet" href='{% static 'css/manga-slider.css' %}'>
{% endblock %}

{% block content %}
    <div class="hero" style="height: 100vh; background-image: url('{% static 'images/backgrounds/background.gif' %}');">
        <div class="hero-content container">
            <h1>vive experiencias<br> únicas y derivadas</h1>
            <p>Encajando en nuestra sociedad, no por obligación, sino por gusto.</p>
            <h2><a href="discord.com"><i class="bi bi-discord"></i></a></h2>
        </div>
    </div>
    <div id="main-container" class="container" style="padding-bottom: 20px;">
        <div class="main-content">
            {% include "./components/ad_banner.html" %}
            <h1>Mangas mejor Valorados</h1>
            <div class="manga-container">
                <div class="slide">
                    {% for manga in high_rated_mangas %}
                    <div class="manga-item" style="background-image: url({{ manga.front_page.url }});">
                        <div class="manga-content">
                            <div class="manga-name"> {{manga.nombre_del_manga}} </div>
                            <button type="button" class="btn btn-primary">Ver mas</button>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="buttons">
                    <button class="prev"></button>
                    <button class="next"></button>
                </div>
            </div>
            {% include "./components/ad_banner.html" %}
            <h1>Mangas Recientes</h1>
            <div class="manga-container">
                <div class="slide">
                    {% for manga in recent_mangas %}
                    <div class="manga-item" style="background-image: url({{ manga.front_page.url }});">
                        <div class="manga-content">
                            <div class="manga-name"> {{manga.nombre_del_manga}} </div>
                            <button type="button" class="btn btn-primary">Ver mas</button>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="buttons">
                    <button class="prev"></button>
                    <button class="next"></button>
                </div>
            </div>
            <div class="welcome">
                <div class="text-box">
                    <h2>Bienvenido a Surchaing Manga...</h2>
                    <p>Nuestra página está orientada a una mejora continua, tanto en flexibilidad de uso como en la visibilidad del usuario. Queremos que nuestra página se vea estéticamente agradable. Nuestra meta es que tú, como usuario, no solo quieras ver nuestros mangas, sino que también te animes a crear uno desde lo más profundo de tu imaginación y plasmarlo en una hoja. Que grandes artistas como tú crezcan sin encontrar límites. ¡Ayúdanos para ayudarte! <a href="/ingresar">¡Únete a nosotros!</a></p>
                </div>
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Codeberg_logo.svg/800px-Codeberg_logo.svg.png" alt="LOGO DE NUESTRO PATROCINADOR MAS DESTACADO">
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/manga-slider.js' %}"></script>
{% endblock %}
